<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Availability</title>{% endblock %}
</head>

<body>

    {% block content %}
    <div class="container mx-auto px-4 py-8 font-[Manrope]">
        <h1 class="text-4xl font-bold mb-6 text-white font-[Outfit]">Availability</h1>
        <p class="text-gray-600 mb-4">This page will show the availability status of all flicks and platforms.</p>
        <button onclick="window.location.href='/availabilities/add/'"
            class="bg-[#6c63ff] text-white font-bold py-2 px-4 rounded transition duration-300 hover:translate-y-[-5px] hover:shadow-[0_0_12px_rgba(83_74_255)]">Add
            Availability</button>
        <!-- Aquí puedes agregar la lógica para mostrar la disponibilidad de los flicks y plataformas -->
    </div>
    {% endblock content %}

</body>

</html>