<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Welcome</title>{% endblock title %}
</head>

<body>
    {% block content %}
    <div class="min-h-screen bg-gray-100 flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg">
            <h1 class="text-3xl font-bold text-blue-600 mb-4">
                ¡Tailwind funciona!
            </h1>
            <p class="text-gray-600">
                Los estilos se están aplicando correctamente.
            </p>
            <button class="bg-blue-500 text-white px-4 py-2 rounded" onclick="window.location.href='/signup/'">Sign
                Up</button>
            <button class="bg-blue-500 text-white px-4 py-2 rounded" onclick="window.location.href='/signin/'">Sign
                In</button>
        </div>
    </div>
    {% endblock content %}
</body>

</html>