<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'home.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Dashboard</title>{% endblock title %}
</head>

<body>
    {% block content %}
    <div class="flex justify-center align-center items-center">
        <div class="container mx-auto px-4 py-8 text-center">
            <h1 class="text-6xl font-bold mb-6 text-white font-[Outfit]">Welcome {{ user.username }}</h1>
            <img src="{ % static 'img/logo_horizontal_english_blanco.png' % }" alt="logo" class="w-[500px]">
            <p class="text-gray-300 font-[Manrope]">Welcome to the Rent-A-Flick dashboard! Here you can manage your
                flicks,
                platforms, and
                availability.</p>
            <!-- Aquí puedes agregar enlaces rápidos a las secciones de gestión de flicks, plataformas y disponibilidad -->
            <div class="mt-6 space-x-4 font-[Manrope]">
                <button onclick="window.location.href='/flicks/'"
                    class="bg-[#6c63ff] text-white font-bold py-2 px-4 rounded transition duration-300 hover:translate-y-[-5px] hover:shadow-[0_0_12px_rgba(83_74_255)]">Manage
                    Flicks</button>
                <button onclick="window.location.href='/platforms/'"
                    class="bg-[#3dd9d0] text-white font-bold py-2 px-4 rounded transition duration-300 hover:translate-y-[-5px] hover:shadow-[0_0_12px_rgba(69_240_232)]">Manage
                    Platforms</button>
                <button onclick="window.location.href='/availabilities/'"
                    class="bg-[#8b82ff] text-white font-bold py-2 px-4 rounded transition duration-300 hover:translate-y-[-5px] hover:shadow-[0_0_12px_rgba(139_130_255)]">Manage
                    Availability</button>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>

</html>