{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Welcome</title>{% endblock title %}
</head>

<body>
    {% block content %}
    <div class="min-h-screen flex items-center justify-center align-center">
        <div>
            <img src="{% static 'img/logo_horizontal_english_blanco.png' %}" alt="logo" class="size-[150px] text-center">
            <div class="flex items-center justify-center align-center gap-3">
                <button class="bg-gradient-to-r from-[#6C63FF] to-[#4ECDC4] text-white px-6 py-3 rounded font-medium transition duration-300 hover:translate-y-[-5px] hover:shadow-[0_0_12px_rgba(139_130_255)]" onclick="window.location.href='/signup/'">Sign
                    Up</button>
            <div class="bg-gradient-to-r from-[#6C63FF] to-[#4ECDC4] p-1 rounded transition duration-300 hover:translate-y-[-5px] hover:shadow-[0_0_12px_rgba(139_130_255)]">
                <button class="border-1 bg-[#1a1a2e] border-transparent text-white px-6 py-2 rounded font-medium" onclick="window.location.href='/signin/'">Sign
                    In</button>
            </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>

</html>